<div class='container m-5'>
  <h1>Top Rated Restaurant</h1>
  <div class='my-4'>
    <ul class="list-group list-group-flush">
      <% @restaurants each do |restaurant| %>
      <li class="list-group-item"><%= restaurant.name %></li>
      <% end %>
    </ul>
  </div>
</div>